/*----------------------------------------------
*
* [Theme Green Stylesheet]
*
* Theme    : Leverage
* Version  : 2.1
* Author   : Codings
* Support  : codings.dev
* 
----------------------------------------------*/


/*----------------------------------------------

[ALL CONTENTS]

1. Root

----------------------------------------------*/


/*----------------------------------------------
1. Root
----------------------------------------------*/


/* #region Root */

:root {
    --primary-color: #23aba0;
    --secondary-color: #40ba99;
}


/* #endregion Root */

.project-image {
    height: 300px;
    width: auto;
    object-fit: cover;
}

#blog .badge.tag {
    margin-right: 10px !important;
}


/* 
.service-item i,
.service-item h4,
.service-item p {
    z-index: 2;
}

.service-item .card {
    padding: 0;
}

.service-item img {
    position: absolute;
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.items .service-item .card.featured:hover:before {
    z-index: 2;
}

.card:not(.no-hover):hover {
    background: -webkit-linear-gradient( 45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background: linear-gradient( 45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    transform: translateY(-7.5px);
} */