<template>
<div>
	<div class="searchbar mt-4 mb-5">
		<div class="row">
			<div class="col-md-4">
				<form>
					<div class="input-group">
						<input
							id="indexSearch"
							type="text"
							name="search"
							placeholder="Search"
							v-model="search"
							class="form-control"
							autocomplete="off"
						/>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-bordered table-hover" :class="{'loading': loading}">
			<thead>
				<tr>
					<th v-for="column in columns" :key="column" @click="sortable.includes(column) ? sortByColumn(column) : ''" class="table-head">
						{{ column | columnHead }}
						<span v-if="column === sortedColumn">
                            <i v-if="order === 'asc' " class="fas fa-arrow-up"></i>
                            <i v-else class="fas fa-arrow-down"></i>
            			</span>
					</th>
					<th>
						Operations
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="" v-if="tableData.length === 0">
					<td class="lead text-center" :colspan="columns.length + 1">No data found.</td>
				</tr>
				<tr v-for="(data, key1) in tableData" :key="data.id" class="m-datatable__row" v-else>
					<td v-for="(value, key) in columns" v-bind:key="key">
						<span v-if="!value.startsWith('component_')">
							{{ data[value] }}
						</span>
						<span v-if="value.startsWith('component_')">
							<component :is="statisticCounts" v-bind="parseProps(props[value], data)"></component>
						</span>
					</td>
					<td class="text-center" style="width: 134px;">
						<div
							role="group"
							aria-label="Row Actions"
							class="btn-group"
						>
							<a v-if="operations.includes('edit')" data-toggle="tooltip" title="edit" data-placement="top" :href="getUrl(data.id, 'edit')" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2">
								<span class="svg-icon svg-icon-primary svg-icon-md">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24"/>
											<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) "/>
											<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
										</g>
									</svg>
								</span>
							</a>
							<a v-if="operations.includes('delete')" v-on:click="showDeleteModal(data.id, model)" data-toggle="modal" data-target="#delete-modal" data-placement="top" href="" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2" title="">
								<span class="svg-icon svg-icon-primary svg-icon-md">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24"/>
											<path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"/>
											<path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
										</g>
									</svg>
								</span>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-if="pagination && tableData.length > 0" class="d-flex justify-content-between align-items-center flex-wrap pull-right">
			<div class="d-flex flex-wrap mr-3">
				<a :class="{'disabled' : currentPage === 1}" href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1" aria-label="" @click.prevent="changePage(1)">
					<em class="ki ki-bold-double-arrow-back icon-xs"></em>
				</a>
				<a :class="{'disabled' : currentPage === 1}" href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1" aria-label="" @click.prevent="changePage(currentPage - 1)">
					<em class="ki ki-bold-arrow-back icon-xs"></em>
				</a>

				<a v-for="page in pagesNumber" v-bind:key="page" href="javascript:void(0)" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1" :class="{'active': page == pagination.meta.current_page}" @click.prevent="changePage(page)">
					{{ page }}
				</a>

				<a :class="{'disabled': currentPage === pagination.meta.last_page }" href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1" aria-label="" @click.prevent="changePage(currentPage + 1)">
					<em class="ki ki-bold-arrow-next icon-xs"></em>
				</a>
				<a :class="{'disabled': currentPage === pagination.meta.last_page }" href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1" aria-label="" @click.prevent="changePage(pagination.meta.last_page)">
					<em class="ki ki-bold-double-arrow-next icon-xs"></em>
				</a>
				<span style="margin-top: 8px;"> &nbsp; <em>Displaying {{ pagination.data.length }} of {{ pagination.meta.total }} entries.</em></span>
			</div>
		</div>
	</div>
</div>
	
</template>

<script type="text/ecmascript-6">
import DemoComponent from './DemoComponent.vue';
import StatisticCounts from './StatisticCountsComponent.vue';
export default {
	components: {
    	DemoComponent,
		StatisticCounts
  	},
  props: {
    fetchUrl: { type: String, required: true },
    model: { type: String, required: true },
    columns: { type: Array, required: true },
    defaultSort: { type: String, required: true },
    sortable: { type: Array, required: true },
    operations: { type: Array, required: true },
    props: { type: Object, required: false },
  },
  data() {
    return {
      tableData: [],
	  url: '',
      pagination: {
        meta: { to: 1, from: 1 }
      },
      offset: 4,
      currentPage: 1,
      perPage: 5,
      sortedColumn: this.defaultSort,
      order: 'desc',
      search: '',
	  loading: true
    }
  },
  watch: {
    fetchUrl: {
      handler: function(fetchUrl) {
        this.url = fetchUrl
      },
      immediate: true
    },
	search: function (value) {
        if (!this.awaitingSearch) {
          setTimeout(() => {
			  console.log(this.search);
			  this.fetchData()
            this.awaitingSearch = false;
          }, 1000); // 1 sec delay
        }
        this.awaitingSearch = true;
      },
	
  },
  created() {
    return this.fetchData(this.fetchUrl)
  },
  computed: {
	demoComponent() {
		return 'DemoComponent'
	},
	statisticCounts() {
		return 'StatisticCounts'
	},
    /**
     * Get the pages number array for displaying in the pagination.
     * */
    pagesNumber() {
      if (!this.pagination.meta.to) {
        return []
      }
      let from = this.pagination.meta.current_page - this.offset
      if (from < 1) {
        from = 1
      }
      let to = from + (this.offset * 2)
      if (to >= this.pagination.meta.last_page) {
        to = this.pagination.meta.last_page
      }
      let pagesArray = []
      for (let page = from; page <= to; page++) {
        pagesArray.push(page)
      }
      return pagesArray
    },
    /**
     * Get the total data displayed in the current page.
     * */
    totalData() {
      return (this.pagination.meta.to - this.pagination.meta.from) + 1
    }
  },
  methods: {
    fetchData() {
		this.loading = false
		let dataFetchUrl = `${this.url}?page=${this.currentPage}&column=${this.sortedColumn}&order=${this.order}&per_page=${this.perPage}&search=${this.search}`
      	axios.get(dataFetchUrl)
        	.then(data => {
				this.pagination = data.data
          		this.tableData = data.data.data
				this.loading = false
				console.log(this.tableData);
        	}).catch(error => this.tableData = [])
    },
	changePage(pageNumber) {
    	this.currentPage = pageNumber
    	this.fetchData()
    },
	/**
     * Sort the data by column.
     * */
    sortByColumn(column) {
      if (column === this.sortedColumn) {
        this.order = (this.order === 'asc') ? 'desc' : 'asc'
      } else {
        this.sortedColumn = column
        this.order = 'asc'
      }
      this.fetchData()
    },
    getUrl(id, operation) {
		switch (operation) {
			case 'edit':
				return this.model + '/' + id + '/edit'
				break;
			case 'delete':
				return this.model + '/' + id + '/edit'
				break;
		
			default:
				break;
		}
      
    },
	showDeleteModal(id, model) {
		$("#delete-modal input[name=id]").val(id);
    	$("#delete-modal form").attr('action', '/' + model + '/' + id);
    	$("#delete-modal").modal();
	},
	parseProps(props, questionData) {
		var returnProps = {}
		$.each(props, function(key, value) {
			if(value == "this_") {
				returnProps[key] = questionData
			} else {
				returnProps[key] = value
			}
		});

		return returnProps;
	}
  },
  filters: {
    columnHead(value) {
		if(value == 'id') {
			return '#'
		}
      return value.split('_').join(' ')
    }
  },
  name: 'DataTable'
}
</script>

<style scoped>
</style>