<template> 
	<div>
		<span>DEMO COMPONENT</span>
	</div>
</template>

<script>
    export default {
		props: {
			test: { type: String, required: true },
			test2: { type: String, required: true },
		},
        mounted() {
			console.log('demo component mounted');
			console.log('prop: ' + this.test);
			console.log('prop2: ' + this.test2);
        }
    }
</script>